*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/app/src/main/java/cn/spacexc/neogram/TdSecret.kt
**/*.apk
**/*.so
**/*.mp3
**/*.mp4
**/*.dump
**/*.dm
/app/thirdparty/androidx-media/libraries/test_data/src/test/assets/media/mp4/8k24fps_300ms.mp4
/app/release/app-release.apk
/app/release/baselineProfiles/0/app-release.dm
/app/release/baselineProfiles/1/app-release.dm
/app/thirdparty/androidx-media/.idea/codeStyleSettings.xml
/app/jni/third_party/webrtc/examples/objc/AppRTCMobile/ios/resources/foreman.mp4
/app/jni/third_party/webrtc/sdk/objc/unittests/foreman.mp4
/app/thirdparty/androidx-media/libraries/test_data/src/test/assets/media/mp4/h264_4k_30fps_10sec.mp4
/app/thirdparty/androidx-media/libraries/test_data/src/test/assets/media/mp4/h264_1080p_30fps_10sec.mp4
/app/thirdparty/androidx-media/.idea/icon.svg
/app/src/main/libs/arm64-v8a/libimage_processing_util_jni.so
/app/src/main/libs/arm64-v8a/liblanguage_id_jni.so
/app/src/main/libs/arm64-v8a/libleveldbjni.so
/app/src/main/libs/arm64-v8a/libsurface_util_jni.so
/app/src/main/libs/arm64-v8a/libtgcallsjni.so
/app/src/main/libs/arm64-v8a/libtgxjni.so
/app/thirdparty/androidx-media/demos/compose/lint.xml
/app/thirdparty/androidx-media/demos/effect/lint.xml
/app/thirdparty/androidx-media/libraries/lint.xml
/app/thirdparty/androidx-media/testapps/controller/lint.xml
/app/jni/third_party/webrtc/examples/objc/AppRTCMobile/ios/resources/mozart.mp3
/app/thirdparty/androidx-media/libraries/test_data/src/test/assets/transformerdumps/composition/seq-gap_100ms-sample_rf64.wav+seq-sample.wav.dump
/app/thirdparty/androidx-media/libraries/test_data/src/test/assets/transformerdumps/composition/seq-gap_1000ms+seq-sample.wav.dump
/app/thirdparty/androidx-media/libraries/test_data/src/test/assets/transformerdumps/composition/seq-sample.wav+seq-sample.wav_clipped100msTo400ms-gap_700ms.dump
/app/thirdparty/androidx-media/libraries/test_data/src/test/assets/transformerdumps/composition/seq-sample.wav+seq-sample.wav_clipped_100ms_to_400ms.dump
/app/thirdparty/androidx-media/libraries/test_data/src/test/assets/transformerdumps/composition/seq-sowt-with-video.mov+seq-gap_200ms-sample_rf64.wav.dump
/app/thirdparty/androidx-media/libraries/test_data/src/test/assets/transformerdumps/composition/seq-sowt-with-video.mov+seq-sample_rf64.wav-gap_100ms.dump
/app/thirdparty/androidx-media/libraries/test_data/src/test/assets/transformerdumps/composition/seq-sowt-with-video.mov+seq-sample_rf64.wav_clipped0msTo300ms-gap_200ms-sample_rf64.wav_clipped300msTo800ms.dump
/tdlib/openssl/arm64-v8a/lib/libcryptox.so
/tdlib/openssl/armeabi-v7a/lib/libcryptox.so
/tdlib/openssl/x86/lib/libcryptox.so
/tdlib/openssl/x86_64/lib/libcryptox.so
